{
  "web": {
    "client_id": "6216406273-od0u1i10lsfq0uiqdpkc91macb6klurr.apps.googleusercontent.com",
    "project_id": "bionic-run-460513-b6",
    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
    "token_uri": "https://oauth2.googleapis.com/token",
    "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
    "client_secret": "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",
    "redirect_uris": ["http://localhost:3001/api/auth/google/callback"]
  }
}
